// button 立即訂閱按鈕
.btn-subscribe {
  color: white;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  border: none;
  box-shadow: none;
}

.btn-subscribe:hover {
  color: white;
  background-color: $secondary-400;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  border: none;
  box-shadow: none;
}

.btn-subscribe:active {
  color: white !important;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  border: none;
  box-shadow: none;
}

// button 行動按鈕
.btn-active {
  color: white;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-width: 2px;
  box-shadow: none;
}

.btn-active:hover {
  color: white;
  background-color: $secondary-400;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-width: 2px;
  border-color: $secondary-400;
  box-shadow: none;
}

.btn-active:active {
  color: white !important;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-width: 2px;
  box-shadow: none;
}

// button 行動反白按鈕
.btn-active-white {
  color: $primary-500;
  background-color: white;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-width: 2px;
  box-shadow: none;
}

.btn-active-white:hover {
  color: white;
  background-color: $primary-500;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-width: 2px;
  box-shadow: none;
}

.btn-active:active {
  color: white !important;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-width: 2px;
  box-shadow: none;
}

// button 登入會員
.btn-login {
  color: $primary-500;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  border-width: 2px;
}

.btn-login:hover {
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  border-width: 2px;
}

.btn-login:active {
  color: $primary-500 !important;
  background-color: white !important;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  border-width: 2px;
}

// button 關於配送
.btn-shipping {
  color: $brown-300;
  background-color: white;
  font-weight: 400;
  letter-spacing: 0.05em;
  border-color: $brown-300;
}

.btn-shipping:hover {
  color: $primary-500;
  background-color: white;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.btn-shipping:active {
  color: white !important;
  background-color: $primary-500 !important;
  font-weight: 700;
  letter-spacing: 0.05em;
}

// button 飲食習慣
.btn-diet {
  color: $neutral-400;
  background-color: white;
  font-weight: 400;
  letter-spacing: 0.05em;
  border-color: $neutral-200;
  border-radius: 8px;
}

.btn-diet:hover {
  color: $neutral-400 !important;
  background-color: white !important;
  font-weight: 400;
  letter-spacing: 0.05em;
  border-color: $primary-500 !important;
  border-width: 2px;
  border-radius: 8px;
}

.btn-check:checked + .btn-diet {
  color: $primary-500;
  background-color: white;
  font-weight: 700;
  letter-spacing: 0.05em;
  border-color: $primary-500;
  border-width: 2px;
}

.btn-check:checked + .btn-diet:hover {
  color: $primary-500 !important;
}

// input group 數量
.btn-quantity {
  color: $neutral-400;
  background-color: white;
  font-weight: 700;
  border-color: $neutral-200;
}

.btn-quantity:hover {
  color: $primary-500;
  font-weight: 700;
  border-color: $neutral-200;
}

.btn-quantity:active {
  color: $primary-500 !important;
  border-color: $neutral-200 !important;
}

.input-number:focus {
  border-color: $neutral-200;
}

// button img 保健需求
.btn-health {
  font-family: "Noto Sans TC" !important;
  color: $brown-300;
  letter-spacing: 0.05em;
  border-color: transparent;
}

.btn-health:hover {
  color: $brown-300 !important;
  letter-spacing: 0.05em;
  border-color: $primary-500 !important;
  border-width: 2px !important;
}

.btn-check:checked + .btn-health {
  color: $primary-500;
  letter-spacing: 0.05em;
  font-weight: 700;
  border-color: $primary-500;
  border-width: 2px;
}

.btn-check:checked + .btn-health:hover {
  color: $primary-500 !important;
} // 0912 vivian 新增

// button FAQ
.btn-FAQ {
  color: $brown-300;
  border-color: $brown-300;
  font-size: $font-size-sm;
  border-radius: 0.5rem;
}

.btn-FAQ:hover {
  color: $white;
  background-color: $brown-300;
  font-size: $font-size-sm;
  border-radius: 0.5rem;
}
