.form-select {
  letter-spacing: 0.05em;
}

.form-select:focus {
  box-shadow: none;
} // 0925 vivian 新增

input:focus {
  border-width: 2px;
  border-color: $primary-500 !important; // 0912 vivian 新增
}

select:focus {
  border-width: 2px;
}

.form-control {
  padding: 12px 24px; // 0912 vivian 新增
}

.form-control:not(:placeholder-shown):not(:disabled) {
  color: $brown-500;
}

.form-select-filled {
  color: $brown-500 !important;
}

.form-control:disabled,
button.form-select:disabled {
  background-color: white !important;
  opacity: 0.65 !important;
  cursor: not-allowed;
}

// 移除瀏覽器 autofill 藍色背景
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: $brown-500 !important;
}

input:-webkit-autofill:disabled,
input:-webkit-autofill:disabled:hover,
input:-webkit-autofill:disabled:focus {
  -webkit-box-shadow: 0 0 0 30px var(--bs-secondary-bg) inset !important;
  box-shadow: 0 0 0 30px var(--bs-secondary-bg) inset !important;
  -webkit-text-fill-color: var(--bs-secondary-color) !important;
}
// vivian 0308修改
