.form-select {
  letter-spacing: 0.05em;
}

.form-select:focus {
  box-shadow: none;
} // 0925 vivian 新增

input:focus {
  border-width: 2px;
  border-color: $primary-500 !important; // 0912 vivian 新增
}

select:focus {
  border-width: 2px;
}

.form-control {
  padding: 12px 24px; // 0912 vivian 新增
}

.form-control:not(:placeholder-shown) {
  color: $brown-500;
}

.form-select-filled {
  color: $brown-500 !important;
}

// 移除瀏覽器 autofill 藍色背景
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: $brown-500 !important;
}
