.login-btn {
  padding: 8.5px 32px;
  background-color: $primary-500;
  color: white;
}

@media (min-width: 768px) {
  .login-btn {
    padding: 8.5px 32px;
    border: solid 2px $primary-500;
    background-color: transparent;
    color: $primary-500;
  }
}

.login-btn:hover {
  background-color: $primary-500;
  color: white;
}
