.pet-info {
  span {
    font-size: 0.875rem;
    color: $primary-500;
  }
  .title p {
    font-size: 1.125rem;
    color: $primary-500;
    letter-spacing: 0.03em;
  }
  .item-title {
    font-size: 1.125rem;
    letter-spacing: 0.03em;
  }
  .item-text {
    font-size: 0.875rem;
    color: $brown-300;
  }
  .btn-check:checked + .btn-diet svg path {
    stroke: $primary-500;
  }

  @media (max-width: 576px) {
    .item-title {
      font-size: 1rem;
    }
  }

  // 元件-卡片
  .input-number {
    color: $brown-500;
  }
  .health-img {
    width: 100%;
    max-width: 120px;
  }
  .diet {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    .btn {
      width: 100%;
    }
    @media (max-width: 992px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  // 定位圖
  .card-bg {
    position: relative;
  }
  .dog-illustration {
    position: absolute;
    bottom: clamp(-164px, -8vw, -50px);
    left: clamp(-184px, -13vw, -80px);
    width: clamp(280px, 33vw, 480px);
    height: clamp(280px, 33vw, 480px);
  }
  .feed-illustration {
    position: absolute;
    top: clamp(-57px, -4vw, -20px);
    right: clamp(-72px, -5vw, -20px);
    width: clamp(170px, 19vw, 280px);
    height: clamp(142px, 17vw, 245px);
  }
}
