.announcement .container {
  background-color: $tertiary-500;
  color: white;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  border-radius: 8px; /* 新增圓角 */
}

.announcement {
  .btn-signup {
    background-color: white !important;
    color: $tertiary-500 !important;
    border: 2px solid white !important;
    border-radius: 8px;

    &:hover {
      background-color: transparent !important;
      color: white !important;
      border: 2px solid white !important;
    }
  }
}
