.announcement .container {
  background-color: $tertiary-500;
  color: white;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  border-radius: 8px; /* 新增圓角 */
}

.btn-signup {
  background-color: white;
  color: $tertiary-500;
  border-radius: 8px; /* 按鈕也加上圓角保持一致性 */
}

.btn-signup:hover {
  border: solid 2px white;
  color: white;
  background-color: transparent;
}
