//表格
.table-title-bg {
  background-color: $primary-300;
  border-radius: 8px;
}
.table-container-bg {
  background-color: $white;
  border-radius: 8px;
}
.total-bg {
  background-color: $primary-200;
  border-radius: 8px;
}
.table-img {
  width: 196px;
  height: 130px;
}
.table-title {
  font-size: 1.125rem;
  letter-spacing: 0.03em;
}
.table-text {
  font-size: 0.875rem;
  color: $brown-300;
}
.cart .btn-close {
  width: 16px;
  height: 16px;
}
@media (max-width: 576px) {
  .table-title {
    font-size: 0.875rem;
  }
  .table-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  .table-text {
    font-size: 0.75rem;
  }
}

// 文字
.total-text {
  color: $primary-500;
  font-size: 1.125rem;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

//元件
@media (max-width: 576px) {
  .btn-quantity {
    font-size: 16px;
    line-height: 0.8;
  }
}
