// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
// scss-docs-end gray-color-variables

// scss-docs-start theme-color-variables  //修改james
//主要色 Primary
$primary-500: #fc762f;
$primary-300: #fdad82;
$secondary-400: #fbbd3f; // 新增vivian
$primary-200: #fee4d5;
$primary-100: #fff1ea;
$primary: $primary-500;
//secondary
$secondary-500: #fbbd3f;
$secondary-300: #ffd854;
$secondary-200: #fdd78c;
$secondary-100: #ffefb0;
$secondary: $secondary-300;
//tertiary
$tertiary-500: #58baab;
$tertiary-300: #9bd6cd;
$tertiary-100: #def1ee;
$tertiary-50: #eef8f7;
$tertiary: $tertiary-300;
//brown
$brown-500: #534741;
$brown-300: #8c837e;
$brown-100: #c5bfbb;
$brown: $brown-500;
//neutral
$neutral-950: #0a0a0a;
$neutral-900: #171717;
$neutral-800: #262626;
$neutral-700: #404040;
$neutral-600: #525252;
$neutral-500: #737373;
$neutral-400: #a3a3a3;
$neutral-300: #d4d4d4;
$neutral-200: #e5e5e5;
$neutral-100: #f5f5f5;
$neutral-50: #fafafa;