.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-info {
  background-color: $primary-500;
  padding: 80px;
  color: white;
}

.footer-copyright {
  background-color: $tertiary-500;
  padding: 6px 0px;
  color: white;
}

.footer-list a {
  font-size: 14px;
}

.footer-copyright p {
  font-size: 12px;
}

.footer-contact p {
  font-size: 14px;
}

.footer-logo {
  max-width: 136px;
  height: 96px;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-list {
  max-width: 125px;
  list-style-type: none;
  color: white;
  padding-left: 0px;
}

.footer-list a {
  color: white;
  text-decoration: none;
}

.footer-list a:hover {
  color: $secondary-300;
  font-weight: 700;
}

.social-btn {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: white;
  position: relative;
  isolation: isolate;
  border-radius: 50%;
  text-decoration: none;
  transition: color 0.2s ease;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: white;
  transform: translate(-50%, -50%) scale(0.6);
  opacity: 0;
  transition: transform 0.22s ease, opacity 0.22s ease;
  z-index: -1;
}

.social-btn:hover::before,
.social-btn:focus-visible::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 20%;
}

.footer-info {
  position: relative;
}

.btn-totop {
  background-color: $tertiary-500;
  color: white;
  padding: 16px;
  position: absolute;
  top: 90%;
  right: 10%;
  width: auto;
  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) {
  .btn-totop {
    background-color: $tertiary-500;
    color: white;
    padding: 16px;
    position: absolute;
    top: 75%;
    right: 10%;
    width: auto;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-totop:hover {
  background-color: darken($tertiary-500, 10%);
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}
