.total-bg {
  background-color: $primary-200;
  border-radius: 8px;
}

// 定位圖
.card-bg {
  position: relative;
}
.finish-illustration {
  position: absolute;
  top: clamp(-170px, -6vw, -120px);
  right: clamp(-190px, -9vw, -80px);
  width: clamp(200px, 23vw, 390px);
  height: clamp(200px, 23vw, 390px);
}
.balloon-illustration {
  position: absolute;
  top: clamp(-180px, -8vw, -80px);
  left: clamp(-140px, -7vw, -30px);
  width: clamp(150px, 18vw, 270px);
  height: clamp(150px, 18vw, 270px);
  transform: rotate(-20deg);
}
