// 文字
.pet-info {
  letter-spacing: 0.05em;
}
.plan {
  letter-spacing: 0.05em;
}
.cart {
  letter-spacing: 0.05em;
}
.checkout {
  letter-spacing: 0.05em;
}
.finish {
  letter-spacing: 0.05em;
}
.ls-5 {
  letter-spacing: 0.05em;
}
.fs-14 {
  font-size: 14px;
}
.fs-24 {
  font-size: 24px;
}
.text-primary-500 {
  color: $primary-500;
}
.text-brown-300 {
  color: $brown-300;
}
.card-bg {
  background-color: $primary-100;
  border-radius: 80px;
}
.title p {
  font-size: 1.125rem;
  color: $primary-500;
  letter-spacing: 0.03em;
}

@media (max-width: 576px) {
  .fs-14-sm {
    font-size: 14px !important;
  }
  .fs-16-sm {
    font-size: 16px !important;
  }
  .fs-18-sm {
    font-size: 18px !important;
  }
  .fs-20-sm {
    font-size: 20px;
  }
  .fw-medium-sm {
    font-weight: 500;
  }
  .text-start-sm {
    text-align: start;
  }
  .title h2 {
    font-size: 28px;
  }
  .text-center-sm {
    text-align: center;
  }
  .align-text-bottom-sm {
    vertical-align: text-bottom !important;
  }
  .card-bg {
    border-radius: 80px 80px 0px 0px;
    margin-left: -12px !important;
    margin-right: -12px !important;
  }
  .card-bg h4 {
    font-size: 20px;
  }
}

// 線+圓角
@media (max-width: 576px) {
  .radius-8-sm {
    border-radius: 8px !important;
  }
}

// 間距
.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}
.px-110 {
  padding-left: 110px;
  padding-right: 110px;
}
.py-9-5 {
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}
.mb-40 {
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .gap-8-sm {
    gap: 8px !important;
  }
  .p-16-sm {
    padding: 16px !important;
  }
  .pt-80-sm {
    padding-top: 80px !important;
  }
  .pb-0-sm {
    padding-bottom: 0 !important;
  }
  .pe-12-sm {
    padding-right: 12px !important;
  }
  .px-5-5-sm {
    padding-left: 5.5px;
    padding-right: 5.5px;
  }
  .px-10-sm {
    padding-left: 10px;
    padding-right: 10px;
  }
  .px-12-sm {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .px-16-sm {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .px-24-sm {
    padding-left: 24px;
    padding-right: 24px;
  }
  .px-38-sm {
    padding-left: 38px;
    padding-right: 38px;
  }
  .py-5-5-sm {
    padding-top: 5.5px;
    padding-bottom: 5.5px;
  }
  .py-8-sm {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .me-24-sm {
    margin-right: 24px;
  }
  .mb-0-sm {
    margin-bottom: 0px !important;
  }
  .mb-8-sm {
    margin-bottom: 8px;
  }
  .mb-10-sm {
    margin-bottom: 10px !important;
  }
  .mb-16-sm {
    margin-bottom: 16px;
  }
  .mb-24-sm {
    margin-bottom: 24px !important;
  }
  .mb-32-sm {
    margin-bottom: 32px;
  }
  .mb-48-sm {
    margin-bottom: 48px;
  }
  .mb-56-sm {
    margin-bottom: 56px;
  }
  .mx-auto-sm {
    margin-left: auto;
    margin-right: auto;
  }
  .d-flex-sm {
    display: flex !important;
  }
  .d-block-sm {
    display: block !important;
  }
  .d-none-sm {
    display: none !important;
  }
  .align-item-center-sm {
    align-items: center;
  }
  .w-27-sm {
    width: 27%;
  }
  .w-40-sm {
    width: 40%;
  }
  .w-100-sm {
    width: 100% !important;
  }
}
@media (min-width: 576px) {
  .d-none-min-sm {
    display: none;
  }
}

// 格線+間距
.row-table {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.row-table-test {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.grid-2 {
  grid-column: span 2;
  grid-row: span 2;
}
.col-table-1 {
  width: calc(100% / 10);
  padding-left: 12px;
  padding-right: 12px;
}
.col-table-1-5 {
  width: calc(100% / 10) * 1.5;
  padding-left: 12px;
  padding-right: 12px;
}
.col-table-2 {
  width: calc(100% / 10) * 2;
  padding-left: 12px;
  padding-right: 12px;
}
.col-table-3 {
  width: calc(100% / 10) * 3;
  padding-left: 12px;
  padding-right: 12px;
}
.col-table-4 {
  width: calc(100% / 10) * 4;
  padding-left: 12px;
  padding-right: 12px;
}
.col-table-5 {
  width: calc(100% / 10) * 5;
  padding-left: 12px;
  padding-right: 12px;
}
.col-table-6 {
  width: calc(100% / 10) * 6;
  padding-left: 12px;
  padding-right: 12px;
}
.col-table-8 {
  width: calc(100% / 10) * 8;
  padding-left: 12px;
  padding-right: 12px;
}
.col-table-10 {
  width: calc(100% / 10) * 10;
  padding-left: 12px;
  padding-right: 12px;
}

@media (max-width: 576px) {
  .col-6-sm {
    width: calc(100% / 12) * 6;
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-12-sm {
    width: calc(100% / 12) * 12;
    padding-left: 12px;
    padding-right: 12px;
  }
}

// 進度表
.step-line::before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: $secondary-300;
  margin: 0 16px;
}
.step .disabled {
  opacity: 30%;
}
@media (max-width: 576px) {
  @media (max-width: 576px) {
    .step-item img {
      width: 40px;
    }
  }
  .step-line::before {
    width: 143px;
  }
}
